<tr data-comida="{{ animal.comida }}"
    class="js-update-row"
    data-url="{% url 'update_animal' %}">
    <td>{{ animal.id }}</td>
    <td contenteditable="true">{{ animal.especie }}</td>
    <td contenteditable="true">{{ animal.nombre }}</td>
    <td contenteditable="true">{{ animal.numero }}</td>
    <td contenteditable="true">{{ animal.comida }}</td>
    <td>
        <a href="#" class="js-delete-row"
           data-url="{% url 'delete_animal' id=animal.id %}">
            <span class="fa fa-trash"></span>
        </a>
    </td>
</tr>