{% extends 'animales_base.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'animales/animales.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            let $table = $('.js-animales-table');

            $('.js-delete-row').on('click', function (e) {
                console.log('Delete Row');
                $(this).addClass('text-danger');
                $(this).find('.fa')
                    .removeClass('fa-trash')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                let deleteUrl = $(this).data('url');
                $.ajax({
                    url: deleteUrl,
                    method: 'POST',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' }
                })
                .done(function() {
                    console.log('borrado ' + deleteUrl)
                })
                .fail(function() {
                    console.log('error')
                })
                .always(function() {
                    console.log('completado')
                });

                e.preventDefault();
            });

            $table.on('click', function  () {
                console.log("Click en Fila");
            })
        })
    </script>
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        Welcome, {{ user.username }}.
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>Please log in.<a href="{% url 'login' %}">Log In</a></p>
        <p>Or create an account <a href="{% url 'signup' %}">here</a></p>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <table class="table table-striped js-animales-table">
                    <thead>
                    <th>Id</th>
                    <th>Especie</th>
                    <th>Nombre</th>
                    <th>Numero</th>
                    <th>Comida (sacos/dia)</th>
                    </thead>
                    <tbody>
                    {% for animal in animales %}
                        <tr data-comida="{{ animal.comida }}">
                            <td>{{ animal.id }}</td>
                            <td>{{ animal.especie }}</td>
                            <td>{{ animal.nombre }}</td>
                            <td>{{ animal.numero }}</td>
                            <td>{{ animal.comida }}</td>
                            <td>
                                <a href="#" class="js-delete-row"
                                    data-url="{% url 'delete_animal' id=animal.id %}">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Total:</b></td>
                        <td><b>{{ total_comida }}</b></td>
                    </tr>
                    </tbody>
                </table>
            {% include "animales/animales_form.html" %}
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <h3><i>Tabla de alimentadores</i></h3>
                <table class="table table-striped">
                    <thead>
                    <th>Humano</th>
                    <th>Sacos de comida</th>
                    </thead>
                    <tbody>
                        {% for nombre, cantidad in alimentadores.items %}
                            <tr>
                                <td>{{ nombre }}</td>
                                <td>{{ cantidad }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}

